<h3>Cart Items are: <span class="badge badge-primary">{{cartItems.length}}</span></h3>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor="let item of cartItems; let i = index">    
    <td><button class="btn btn-danger btn-sm" (click)="delete(i)">X</button>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td><input type="number" [(ngModel)]="item.quantity" style="width:50px"></td>
    <td>{{item.price * item.quantity}}</td>
  </tr>
  <tr *ngIf="cartItems.length == 0">
    <th colspan="4">No Data Found.</th>
  </tr>
  <tr>    
    <td colspan="3">Total Amount</td>
    <td>{{totalAmount()}}</td>
  </tr>
</table>