<h2>Manage Categories</h2>
<form>
  <input placeholder="Category Id" name="txtId" [(ngModel)]="frmCtg.id" readonly>
  <input placeholder="Enter Category Name" name="txtName" [(ngModel)]="frmCtg.name">
  <button class="btn btn-primary" type="button" (click)="save()">Save</button>
</form>
<br>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngIf="categories.length == 0">
    <th colspan="4">No Data Found.</th>
  </tr>
  <tr *ngFor="let ctg of categories">
    <td>{{ctg.id}}</td>
    <td>{{ctg.name}}</td>
    <td><button class="btn btn-danger" (click)="delete(ctg.id)">Delete</button>
      <button class="btn btn-success" (click)="edit(ctg)">Edit</button>
    </td>
  </tr>
</table>