<!-- <h4>External Header Componenet Template</h4> -->
<nav class="navbar bg-dark navbar-expand-sm navbar-dark">
<a routerLink="/" class="navbar-brand">My App</a>
<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item" *ngIf="!isAdminLoggedIn()">
        <a routerLink="login/signin" class="nav-link">Sign In</a>
    </li>
    <li class="nav-item" *ngIf="!isAdminLoggedIn()">
        <a routerLink="login/signup" class="nav-link">Quick Sign Up</a>
    </li>
    <li class="nav-item">
        <a routerLink="/list" class="nav-link">Shopping List</a>
    </li>
    <li class="nav-item" *ngIf="isAdminLoggedIn()">
            <a routerLink="/categories" class="nav-link">Categories</a>
    </li>
    <li class="nav-item" *ngIf="isAdminLoggedIn()">
            <a routerLink="login/signout" class="nav-link">Sign Out</a>
    </li>    
</ul>
</nav>